/* You can add global styles to this file, and also import other style files */
body {
    height: 100%
}
span.req{
    color: tomato;
}
.form-control.invalid{
    border: 1px solid tomato;
}
span.err_msg{
    color: tomato;
}